.header {
    display: block;
    padding-block: 3px;

    &__nav {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 60px;
        margin: 0 auto;
    }

    &__button {
        font-size: 18px;
        letter-spacing: 1px;
    }
}
