.products-wrapper {
    display: flex;
    gap: 30px;
}

.product-list-wrapper {
    flex: 1;
}

.filters-wrapper {
    width: 200px;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}
