@use '@/styles/_variables' as *;

.products-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
}

.product-list-wrapper {
  flex: 1;
}

.filters-wrapper {
  width: 210px;
  border-right: 1px solid $border-gray;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}
