.nested-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    background-color: #000;
    z-index: 1;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__link {
        padding: 15px 20px;
        text-align: left;
        
        &_active,
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}