.nested-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    background-color: #000;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;

    &_relative {
        position: relative;
    }

    &.opened {
        max-height: 9999px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__link {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        text-align: left;
        
        &_active,
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}

.chevron {
    transition: transform .1s;
    &_active {
        transform: rotate(90deg);
    }
}