@use '../../../../../styles/variables' as *;

.category-page {
    padding: 30px 0;

    &__sidebar {
        display: none;
    }

    &__title {
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: bold;
    }

    &__product-list-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
    }

    @media screen and (min-width: $tablet) {
        &__sidebar {
            display: block;
            width: 20%;
        }

        &__title {
            font-size: 30px;
            margin-bottom: 30px;
        }

        &__inner {
            display: flex;
        }
    }
}
