@use '../../styles/variables' as *;

.product-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 15px;

    &__actions {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__price {
        font-size: 18px;
        font-weight: bold;
    }

    &__name {
        display: block;
        margin-bottom: 8px;
    }
}
