@use '../../styles/variables' as *;

.product-item {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 15px;
  padding: 10px 0;
  border-bottom: 1px solid $border-gray;

  &__actions {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__price {
    font-size: 18px;
    font-weight: bold;
  }

  &__name {
    display: block;
    margin-bottom: 8px;
    transition: 0.2s color;

    &:hover {
      color: $primary-blue;
    }
  }

  &__image-wrapper {
    grid-row: 1/3;
  }

  &__image {
    height: 100%;
    object-fit: contain;
  }
}
