@use '@/styles/common.scss';
@use '@/styles/_variables' as *;

.catalog-skeleton-item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    border-bottom: 1px solid $border-gray;

    &__image {
        width: 120px;
        height: 120px;
        animation-delay: .5s;
    }

    &__content {
        width: 100%;
        height: 100%;
        min-height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__id {
        width: fit-content;
    }

    &__name {
        width: 100%;
        max-width: 400px;
    }

    &__popularity {
        display: block;
        min-width: 80px;
        width: fit-content;
    }

    &__price {
        width: fit-content;
    }
}