@use '../../styles/_variables' as *;

.alert {
    position: relative;
    padding: 30px;
    color: $white;
    box-shadow: $box-shadow;

    &_status-success {
        background-color: $primary-blue;
    }

    &_status-error {
        background-color: $danger-red;
    }

    &__close-button {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 16px;
    }

    &__progress {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        background-color: $white;
        transition: width .1s linear;

    }
}