// Colors
$border-gray: #d8d8d8;
$text-gray: #7f7f7f;
$black: #000;
$white: #fff;
$primary-blue: #016fff;

// Screens
$mobile: 600px;
$tablet: 768px;
$laptop: 1024px;
$monitor-sm: 1280px;
$monitor-middle: 1536px;
$monitor-large: 1920px;
