// Colors
$border-gray: #d8d8d8;
$text-gray: #7f7f7f;
$light-blue: #bcd5d6;
$black: #000;
$white: #fff;
$primary-blue: #016fff;
$danger-red: #e82734;

// Box-shadow
$box-shadow:rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

// Screens
$mobile: 600px;
$tablet: 768px;
$laptop: 1024px;
$monitor-sm: 1280px;
$monitor-middle: 1536px;
$monitor-large: 1920px;
